In [1]:
# Imports

import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

In [2]:
# get titanic & test csv files as a DataFrame
X_train = pd.read_csv("./train.csv")
y_train = X_train.pop("Survived")

X_test_orig = pd.read_csv("./test.csv")

In [3]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
# drop unnecessary columns, these columns won't be useful in analysis and prediction
X_train = X_train.drop(['PassengerId','Name','Ticket'], axis=1)
X_test = X_test_orig.drop(['PassengerId','Name','Ticket'], axis=1)

# preview the data
X_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500   NaN        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250   NaN        S
3       1  female  35.0      1      0  53.1000  C123        S
4       3    male  35.0      0      0   8.0500   NaN        S

In [6]:
# only get the numeric variables
numeric_variables = list(X_train.dtypes[X_train.dtypes != "object"].index)
X_train = X_train[numeric_variables]

numeric_variables = list(X_test.dtypes[X_test.dtypes != "object"].index)
X_test = X_test[numeric_variables]

X_train.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

In [7]:
X_train.isnull().sum()

Pclass      0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

In [8]:
X_train["Age"].fillna(X_train.Age.mean(), inplace=True)
X_train.isnull().sum()

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [48]:
X_test["Age"].fillna(X_test.Age.mean(), inplace=True)
X_test["Fare"].fillna(X_test.Fare.mean(), inplace=True)
X_test.isnull().sum()

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [42]:
from sklearn.linear_model import LogisticRegression
logit_clf = LogisticRegression(solver = 'lbfgs') # the default solver='liblinear' is very slow
logit_clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
cross_val_score(logit_clf, X_train, y_train, cv=3, scoring="accuracy")

array([0.66329966, 0.72053872, 0.71380471])

In [49]:
y_pred = logit_clf.predict(X_test)

Homework 4 decision tree classifier

In [52]:
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier(random_state=42)
dt_clf.fit(X_train, y_train)
y_pred = dt_clf.predict(X_test)

In [53]:
cross_val_score(dt_clf, X_train, y_train, cv=3, scoring="accuracy")

array([0.63636364, 0.66329966, 0.66666667])